@font-face {
  font-family: 'Arbutus Slab';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ArbutusSlab-Regular.woff2") format("woff2"),
    url("../fonts/ArbutusSlab-Regular.woff") format("woff");
  font-display: swap;
}


@font-face {
  font-family: 'Cormorant Infant';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/CormorantInfant-Regular.woff2") format("woff2"),
    url("../fonts/CormorantInfant-Regular.woff") format("woff");
  font-display: swap;
}